<div class="col-6">
    <div class="form-floating mb-3">
      <input type="number" class="form-control" id="floatingInput" value="{{this.ID}}" placeholder="Roll" name="ID">
      <label for="floatingInput">Class Roll</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="date" class="form-control" id="floatingInput" value="{{this.Date}}" placeholder="Date" name="Date">
      <label for="floatingInput">Date</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.Activity}}" placeholder="Activity" name="Activity">
      <label for="floatingInput">Activity</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="number" class="form-control" id="floatingInput" value="{{this.Points}}" placeholder="Point to be inserted" name="Points">
      <label for="floatingInput">Points Given</label>
    </div>
  </div>
  <div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>