<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/style2.css">

    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>

<body>

    <div class="wrapper">
        <div class="sidebar">
            <h2>Admin Page</h2>
            <ul>
                <li style="color: aliceblue;"><a href="/home"><i class="fas fa-home"></i>View All</a></li>
                <div class="dropdown">
                    <li style="color:#bdb8d7; "><i class="fas fa-user"></i> Department</li>
                    <div class="dropdown-content">
                        <a href="/IIT">
                            <h1>IIT</h1>
                        </a>
                        <a href="/CSE">
                            <h1>CSE</h1>
                        </a>
                        <a href="/IBA">
                            <h1>IBA</h1>
                        </a>
                    </div>
                </div>

                <div class="dropdown">
                    <li style="color:#bdb8d7; "><i class="fas fa-address-card"></i> Batch</li>
                    <div class="dropdown-content">
                        <a href="/Batch">
                            <h1>47</h1>
                        </a>
                        <a href="/Batch1">
                            <h1>48</h1>
                        </a>
                        <a href="/Batch2">
                            <h1>49</h1>
                        </a>
                    </div>
                </div>


                <li style="color: aliceblue; ;"><a href="/index"><i class="fas fa-blog"></i>Log out</a></li>


            </ul>

        </div>
        <div class="main_content">
            <div class="header">Welcome!! Dear Admin.Have a nice day😊</div>
            <div class="info">
                <img src="/images/Admin.jpg" width="1200" height="700">
            </div>
        </div>
    </div>